<!-- Changed pss -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/index.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body class="flex flex-col bg-blue-500">
  <script src="./lightMode.js"></script>
  <%- include('../views/navbar.ejs', {signup: false, loggedIn: true, user: user}); %>
    <div class="grid place-content-center">
      <div class="content-center px-4 py-6 mt-20 md:mt-36 w-max bg-white rounded-3xl shadow-2xl shadow-indigo-600">
        <div class="content-center">
          <div class="flex mt-2 justify-center">
            <div
              class="cursor-pointer rounded-lg bg-gray-200 hover:ring-2 hover:ring-offset-1 hover:ring-gray-200 px-2 py-1 font-semibold text-2xl text-gray-700">
              <a href="./dashboard">Go Back</a>
            </div>
          </div>
          <div class="min-h-full flex items-center justify-center px-4 sm:px-6 lg:px-8">
            <div class="max-w-md w-full space-y-0 ">
              <div>
                <!-- <img class="mx-auto h-12 w-auto" src="" alt=""> -->
                <% if (typeof error !="undefined" ) { %>
                  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Signup Failed!</strong>
                    <span class="block sm:inline">
                      <%= error.msg %>
                    </span>
                  </div>
                  <% } %>
                    <h2 class="text-center text-3xl font-extrabold text-gray-900">Change Your Password</h2>
                    <h2 class="text-center text-1xl font-bold text-gray-500">- <%- username %> -</h2>
              </div>
              <form class="mt-8 space-y-6" action="/passwordChange" method="POST">
                <input type="hidden" name="username" value="<%= username %> ">
                <div class="rounded-md shadow-sm -space-y-px">
                  <div>
                    <label for="password" class="sr-only">Password</label>
                    <input minlength="10" id="password" name="newPassword" type="text" required
                    class="bg-transparent font-semibold mt-4 transition-all duration-300 ease-in-out appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-500 placeholder-gray-500 text-gray-900 outline-none focus:border-indigo-300 focus:z-10 sm:text-sm"
                      placeholder="Confirm New Password">
                    <label id="passwordLabel" style="color: red;" for="password"></label>
                    <!-- password strength -->
                    <script>
                      document.getElementById("password").oninput = () => {
                        var value = document.getElementById("password").value;
                        if (value.length == 0) {
                          document.getElementById("passwordLabel").innerHTML = "";
                        }
                        else if (value.length <= 10) {
                          document.getElementById("passwordLabel").innerHTML = "Weak Password";
                          // red color
                          document.getElementById("passwordLabel").style.color = "red";
                        } else if (value.length <= 17) {
                          document.getElementById("passwordLabel").innerHTML = "Moderate Password";
                          // yellow color
                          document.getElementById("passwordLabel").style.color = "orange";
                        } else {
                          document.getElementById("passwordLabel").innerHTML = "Strong Password";
                          // green color
                          document.getElementById("passwordLabel").style.color = "green";
                        }
                      }
                    </script>
        
                  </div>

                </div>

                <div>
                  <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Change Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>

</html>