<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/index.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body>  
  <div class="flex flex-col h-screen">
    <div class="py-0">
      <%-  include('../views/navbar.ejs', {signup: false, loggedIn: true}); %>
    </div>
    <div class="flex justify-center items-center flex-grow">
 
   
   <div class="content-center ">
   <div class="min-h-full flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-0 ">
      <div>
        <!-- <img class="mx-auto h-12 w-auto" src="" alt=""> -->
        <% if (typeof error != "undefined") { %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Signup Failed!</strong>
          <span class="block sm:inline"><%= error.msg %></span>
        </div>
        <% } %>
        <h2 class="text-center text-3xl font-extrabold text-gray-900">Change Your Email</h2>
        <h2 class="text-center text-1xl font-bold text-gray-500 border-b-2 pb-2">- <%- username %> -</h2>
      </div>
      <form class="mt-8 space-y-6" action="/emailChange" method="POST">
        <input type="hidden" name="username" value="<%= username %> ">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="2" class="sr-only">Password</label>
            <input id="2" name="newEmail" type="email" required class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Confirm New Email">
          </div>
        </div>
  
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Change Email
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>