<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="grid grid-cols-4">
        <div class="relative col-span-4">
            <%- include('./navbar'), { loggedIn: true, login: false,  } %> 
        </div>
        <div class="col-span-2 bg-white h-screen">
            <div class="relative flex pr-24">
                <% if(user.img) { %>
                    <img src="<%= user.img %> " alt="" class="z-10 w-48 h-48 rounded-full ml-4 mt-6">
                <% } else { %> 
                    <img src=" " alt="" class="z-10 w-48 h-48 bg-gray-400 rounded-full ml-4 mt-6">
                <% } %> 
                <div class="mt-auto ml-2 font-staat z-10">
                    <p class="text-3xl text-gray-700">
                        Level X
                    </p>
                    <p class="text-2xl text-gray-500">
                        Points 1.2K
                    </p>
                </div>
                <div class="bg-gray-50 absolute z-0 top-3 left-2 h-56 w-11/12 rounded-lg"></div>
            </div>
            <div class="ml-6">
                <div class="text-4xl font-helvet text-gray-700 mt-8">
                    Welcome,
                </div>
                <div class="text-3xl font-helvet text-gray-500 mt-2">
                    Random
                </div>
                <div class="text-xl font-bold font-helvet mt-8 text-teal-500">
                    Email:
                </div>
                <div class="text-xl font-bold font-helvet mt-2 text-teal-500">
                    Joined:
                </div>
                <div class="text-xl font-bold font-helvet mt-2 text-teal-500">
                    First Post:
                </div>
            </div>


        </div>
        <div class="col-span-2 bg-gray-50 h-screen">

        </div>
    </div>
</body>
</html>