<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/index.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-blue-500">  
  <%-  include('../views/navbar.ejs', {loggedIn: true, login: false, user: typeof user !="undefined" ? user : undefined, a:true}); %>

  <div class="flex h-screen justify-center items-center">

  <div class="text-center">
  </div>
    <div class="py-0 ">
    </div>
    <div class="flex">
    <div class="flex justify-center items-center flex-grow ">
   
   <div class="content-center m-auto flex">
   <div class="min-h-full flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-0 ">
     
      <div class="bg-red-100 border border-red-400 text-3xl text-red-700 px-4 py-3 rounded-xl relative" role="alert">
        <strong class="font-bold">Something went wrong!</strong>
        <br/>
        <span class="block sm:inline"><%= error %></span>
        <br/>
       <br/>

        <button style="transform: translateX(60%);"  class="bg-red-500 self-center place-content-center plac hover:bg-red-700 text-white font-bold py-2 px-4 rounded-xl">
         <a href="/">Go home</a>
        </button>

      </div>

    </div>
  </div>
</div>
</div>
</div> 
  </div>
</div>
      <!-- -->

</body>
</html>