<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password?</title>
  <link rel="stylesheet" href="/index.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-blue-500">
  <script src="./lightMode.js"></script>
  <style id="darkMode">
    .bg-white {
      background-color: rgb(34, 34, 34);
    }
    .bg-gray-50 {
      background-color: rgb(51, 51, 51);
    }
    .bg-gray-200 {
      background-color: rgb(66, 66, 66);
    }
    .bg-green-200 {
      background-color: rgb(70, 167, 135);
    }
    .bg-blue-500 {
      background-color: rgb(11, 13, 18);
    }
    .text-black {
      color: rgb(255, 255, 255);
    }
    .text-gray-700 {
      color: rgb(224, 224, 224);
    }
    .text-gray-900 {
      color: rgb(224, 224, 224);
    }
  </style>
    <%- include('../views/navbar.ejs', {loggedIn: false, login: true}); %>
        <div class="flex justify-center items-center flex-grow">
          <% if (typeof error !="undefined" ) { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold"> Failed!</strong>
              <span class="block sm:inline">
                <%= error.msg %>
              </span>
            </div>
            <% } %>

              <div class="content-center ">
                
                <div class="min-h-full flex items-center justify-center px-4 sm:px-6 lg:px-8">
                  <div class="max-w-md w-full space-y-0 ">
                    <div class="content-center px-4 mt-20 py-6 my-9 bg-white rounded-3xl shadow-2xl shadow-indigo-600">
       
                    <div>
                      <!-- <img class="mx-auto h-12 w-auto" src="" alt=""> -->
                      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Forgot your password?</h2>

                    </div>
                    <form class="mt-8 space-y-6" action="/forgot" method="POST">
                      <input type="hidden" name="remember" value="true">
                      <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                          <label for="1" class="sr-only">Username</label>
                          <input id="1" name="username" type="text" required
                          class="bg-transparent font-semibold mt-4 transition-all duration-300 ease-in-out appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-500 placeholder-gray-500 text-gray-900 outline-none focus:border-indigo-300 focus:z-10 sm:text-sm"                            placeholder="Username">

                          <!-- email-->
                          <label for="2" class="sr-only">Email</label>
                          <input id="2" name="email" type="email" required
                          class="bg-transparent font-semibold mt-4 transition-all duration-300 ease-in-out appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-500 placeholder-gray-500 text-gray-900 outline-none focus:border-indigo-300 focus:z-10 sm:text-sm"                            placeholder="Email">
                        </div>
                      </div>

                      <div>
                        <button type="submit"
                          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                          Send email
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <script>
                  const search2 = document.querySelector('#search2');
                  search2.classList.remove('fixed');
                </script>
              </div>
        </div>
      </form>
    </div>
  </div>
  <script>
    // const search2 = document.querySelector('#search2');
    // search2.classList.remove('fixed');
  </script>
</div>
</div>
</body>

</html>