<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>qOverflow</title>
  <link rel="stylesheet" href="/index.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body>  
   <%-  include('../views/navbar.ejs', {loggedIn: loggedIn, user: user}); %>
<div class="flex items-center justify-center flex-col px-[30px]">
   <div class=" my-5 rounded overflow-hidden shadow-lg min-w-full ">
    <div class="px-4 py-4 ">
      <div class="font-bold text-xl mb-2">What's the meaning of life?</div>
      <p class="text-gray-700 text-base">
        I wonder what it is can some one answer pls thanks
      </p>
    </div>
    <div class="px-6 pt-4 pb-2 ">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">By: Your mom</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2 hours ago</span>
    </div>
  </div>
  <div class="my-5 rounded overflow-hidden shadow-lg min-w-full">
    <div class="px-4 py-4 ">
      <div class="font-bold text-xl mb-2">What's the meaning of lififififififififi?</div>
      <p class="text-gray-700 text-base">
        I wonder what it is can some one answer pls thanks fiidfidfuifdidfifdguufugifdugifdugifduidfugidfudiugfiduidfug idkdijdgfigudigudiugdiugidfugidfgdifgudfgfdgfdfg
      </p>
    </div>
    <div class="px-6 pt-4 pb-2 ">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">By: Your mom</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">2 hours ago</span>
    </div>
  </div>
</div>
</body>
</html>