<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" href="/index.css">
</head>
<style>
    h1 {
      font-size: 2em;
      font-weight: normal;
      margin: 0.67em 0;
    }
    h2 {
      font-size: 1.5em;
      font-weight: normal;
      margin: 0.83em 0;
    }
    h3 {
      font-size: 1.17em;
      font-weight: normal;
      margin: 1em 0;
    }
    h4 {
      font-size: 1em;
      font-weight: normal;
      margin: 1.33em 0;
    }
    h5 {
      font-size: 0.83em;
      font-weight: normal;
      margin: 1.67em 0;
    }
    h6 {
      font-size: 0.67em;
      font-weight: normal;
      margin: 2.33em 0;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      align-items: center;
      align-self: center;
      align-content: center;
      outline: solid;
      width: 100%;
    }
    a {
      color: #0366d6;
    }
    a:hover {
      text-decoration: underline;
    }
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }
    ul {
      margin: 1.33em 0;
      padding: 0.5em 1em;
      list-style: disc;
      list-style-position: inside;
    }
    ol {
      margin: 1.33em 0;
      padding: 0.5em 1em;
      list-style: decimal;
      list-style-position: inside;
    }
    li {
      margin-bottom: 0.33em;
    }
    code {
      font-family:Roboto;
      font-size: 0.83em;
    }
    img:not(.nav) {
      max-width: 50%;
    }
  </style>
<body class="bg-blue-500">
    <%- include('./navbar'), { loggedIn: true, login: false, } %>
    <div class="grid grid-cols-12 gap-x-4 my-5 w-11/12 mx-auto">

        <div class="sm:col-span-12 md:col-span-12 lg:col-span-3 xl:col-span-3 col-span-12 relative bg-transparent place-content-center flex w-full ">


            <div class="flex flex-col w-full justify-items-center h-max text-center py-6 bg-white rounded-3xl shadow-lg shadow-indigo-600">
                <div class="mt-2 text-5xl font-bold text-gray-900">
                    Inbox
                </div>
                <div class="mt-2 text-xl font-semibold text-gray-500">
                    View your messages
                </div>
                <div class="mt-4">
                    <img src="<%= user.img %> " alt="" class="w-30 mx-auto rounded-full hover:-translate-y-2 transition-all delay-75 duration-200 ease-in-out">
                </div>
                <% if(locals.success) { %>
                    <div class="mt-4 bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                        <div class="flex">
                        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                        <div>
                            <p class="font-bold"><%= locals.success %></p>
                        </div>
                        </div>
                    </div>
                <% } %>
                <button class="border-b-2 border-spacing-2 border-gray-300 hover:border-gray-500 hover:scale-110 text-gray-700 font-bold mx-auto mt-4 mb-2 transition-all delay-75 duration-300 ease-in-out"
                id="newMessage" onclick="window.location.href='/messageEditor'">
                + New Message
                </button>
                
                <div class="w-full flex flex-col items-center max-h-80 overflow-y-auto" id="inbox">
                </div>
                <% if(messageFeed.length == 0) { %>
                    <div id="noMail" class="z-10 flex-col w-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="mx-auto z-10 relative h-28 w-28 mt-4 stroke-gray-300" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" o d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
                        </svg>
                        <p class="w-5/6 mx-auto px-3 text-center relative z-10 mt-4 text-xl text-gray-300 font-semibold">
                            You Have an Empty Inbox
                        </p>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="sm:col-span-12 md:col-span-12 sm:h-screen md:h-screen lg:mt-0 xl:mt-0 sm:mt-8 md:mt-8 mt-8 mr-4 lg:col-span-9 xl:col-span-9 col-span-12 flex  bg-white shadow-lg w-full rounded-3xl relative shadow-indigo-600">
            <div class="flex-col">
                <div>
                    <div class="block justify-between items-baseline">
                        <p class="text-3xl text-gray-700 text-start font-bold ml-4 mt-2" id="previewSubject">
                            No Current Message
                        </p>
                        <p id="previewAuthor" class="text-lg text-gray-700 text-start font-bold ml-4 mt-2 mr-2"
                            id="previewSubject">
                            <span class="text-gray-500 font-semibold"></span>
                        </p>
                    </div>
                    <p class="text-xl text-gray-500 text-start ml-4" id="previewText">
                    </p>
                </div>
            </div>
            
        </div>
        <!-- button that takes you to question editor -->
      
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        async function preview(mailId) {
            document.getElementById("previewAuthor").innerHTML = ""
            document.getElementById("previewSubject").innerHTML = "Loading..."
            document.getElementById("previewText").innerHTML = "Your message will appear soon."
            console.log("Previewing")
            let message = await fetch('/userMail/' + mailId).then(res => res.json())
            console.log(message)
            let author = message.sender
            let subject = message.subject
            let messageText = message.text
            let parsedText = marked.parse(messageText.replace(/[\u00A0-\u9999<>\&]/g, function (i) {
                return '&#' + i.charCodeAt(0) + ';';
            }))
            console.log(parsedText)
            // console.log(message)
            // console.log(text)
            // let finalMsg = message.replace(/\n/g, "<br>")
            // console.log(finalMsg)
            // let correct = JSON.parse(finalMsg)
            // console.log(correct)
            // message.text = marked.parse(message.text)
            // console.log(message.text)
            document.getElementById("previewAuthor").innerHTML = `<span class="text-gray-500 font-semibold">From</span> ${author}`
            document.getElementById("previewSubject").innerHTML = subject
            document.getElementById("previewText").innerHTML = parsedText
        }
    </script>
    <script>
        let standard = 12
        let lastResult = 0
        let moreToCome = false
        appendMessage = (mail) => {
            let feed = document.getElementById("inbox")
            feed.innerHTML += `<div onclick="preview('${mail.mail_id}')" class="bg-white hover:bg-gray-50 w-5/6 group cursor-pointer mt-4 flex-col px-2 pl-2 pb-2 border-b-2 border-spacing-2 border-gray- transition delay-75 duration-300 ease-in-out">
                    <div class="flex justify-between items-baseline w-full">
                        <p class="text-start text-base text-gray-400 font-bold mb-0">
                            ${mail.sender}
                        </p>
                        <p class="text-start text-sm text-gray-700 font-semibold mt-1 badge">
                            ${mail.timeElapsed} ago
                        </p>
                    </div>
                    <div class="flex">
                        <p class="text-start mt text-2xl text-gray-700 font-semibold line-clamp-1">
                            ${mail.subject}
                        </p>
                    </div>
                    <div class="hidden mailId">
                        ${mail.mail_id}
                    </div>
                </div>`
        }
        async function getMail(size, lastResult) {
            try {
                let mail = await fetch('/mailResults/' + lastResult).then((res) => (res.json()))
                if (typeof mail == "object") {
                    console.log(mail.length + "Standard: " + size)
                    if (mail.length > size) {
                        console.log("There's more!")
                        moreToCome = true
                    } else {
                        console.log("Thats all folks!")
                        moreToCome = false
                    }
                    console.log(mail)
                    if (mail.length < size) {
                        if (mail.length == 1) {
                            return mail
                        } else {
                            return mail.splice(0, mail.length)
                        }
                    } else {
                        return mail.splice(0, size)
                    }
                } else {
                    // remove spinner
                    let feed = document.getElementById("inbox")
                    feed.lastChild.remove()
                    // var error = 
                }
            } catch (error) {
                console.log(error)
            }
        }
        async function loadMore(size, _lastResult) {
            // console.log("Current: " + _lastResult)
            console.log("Loading more")
            let feed = document.getElementById("inbox")
            feed.lastChild.remove()
            var loader = `    <div class="flex items-center justify-center flex-col pl-4">
            <div class=" my-5 rounded overflow-hidden min-w-full ">
            <div class="pl-2 py-4 ">
                <img class="animate-spin" width="72" height="72" src="https://media.24ways.org/2009/15/assets/img/spinner.png">
            
            </div>
            </div>
            </div>`
            feed.insertAdjacentHTML("beforeend", loader)
            let data = await getMail(size, _lastResult)
            console.log(data)
            if (data) {
                if (feed.childElementCount > 0 && !document.getElementById("noMail")) {
                    feed.children.item(feed.children.length - 1).remove()
                }
                console.log(data)
                lastResult = data[data.length - 1].mail_id
                // console.log("New: " + lastResult)
                data.forEach(appendMessage)
                // feed.lastChild.remove()
                implementMore(moreToCome)
                return
            }
        }
        async function loadLess(size) {
            console.log("Current: " + lastResult)
            let feed = document.getElementById("inbox")
            console.log(lastResult)
            feed.lastChild.remove()
            for (let i = 0; i < size; i++) {
                console.log(i)
                let count = feed.childElementCount
                feed.children.item(count - 1).remove()
            }
            let childCount = feed.childElementCount
            lastResult = feed.children.item(childCount - 1).querySelector(".mailId").innerText
            console.log("New: " + lastResult)
            implementMore()
        }
        if (!document.getElementById("noMail")) {
            loadMore(standard, lastResult)
        }
        function implementMore(moreToLoad = true) {
            console.log("Adding Loaders")
            let feed = document.getElementById("inbox")
            console.log("More to Come: " + moreToLoad)
            if (moreToLoad) {
                if (feed.childElementCount > standard) {
                    let loaderWithLess = `
                                <div class="flex">
                                    <div class="flex mt-4">
                                        <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                            <button class=" text-gray-500 font-semibold text-base" onclick="loadMore(${standard}, '${lastResult.trim()}')">
                                                Load More
                                            </button>
                                        </span>
                                    </div>
                                <div class="flex mt-4">
                                    <span class="rounded-lg flex justify-between ml-8 px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                        <button class=" text-gray-500 font-semibold text-base" onclick="loadLess(${standard})">
                                            Load Less
                                        </button>
                                    </span>
                                </div>
                                </div>`
                    document.getElementById("inbox").insertAdjacentHTML("beforeend", loaderWithLess)
                    return
                } else {
                    let loader = `
                                    <div class = "flex">
                                        <div class="flex mt-4">
                                            <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                                <button class=" text-gray-500 font-semibold text-base" onclick="loadMore(${standard}, '${lastResult.trim()}')">
                                                    Load More
                                                </button>
                                            </span>
                                        </div>
                                    </div>`
                    document.getElementById("inbox").insertAdjacentHTML("beforeend", loader)
                    return
                }
            } else if (!moreToLoad) {
                if (feed.childElementCount > standard) {
                    let loaderWithLess = `
                                    <div class="flex mt-4">
                                        <span class="rounded-lg flex justify-between px-2 py-2 text-gray-500 bg-gray-300 hover:ring-2 hover:ring-offset-1 hover:ring-gray-300 hover:text-gray-700 w-max">
                                            <button class=" text-gray-500 font-semibold text-base" onclick="loadLess(${standard})">
                                                Load Less
                                            </button>
                                        </span>
                                    </div>`
                    document.getElementById("inbox").insertAdjacentHTML("beforeend", loaderWithLess)
                    return
                } else {
                    let msg = `<div class="flex-col">
                        <div id="noQuestions" class="mt-4 text-white text-center font-semibold text-xl">
                        </div>
                    </div>`
                    document.getElementById("inbox").insertAdjacentHTML("beforeend", msg)
                }
                return
            }
        }
    </script>
</body>

</html>

