<html>
<nav class="bg-white lg:mt-2 xl:mt-2 sm:w-full md:w-full lg:w-11/12 xl:w-11/12  sm:rounded-b-lg md:rounded-b-lg lg:rounded-3xl xl:rounded-3xl relative max-h-screen grid mx-auto shadow-2xl shadow-indigo-600">
  <style>
   
   @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis&family=Edu+Sa+Beginner&family=Helvetica&family=Arvo&family=Bebas+Neue&family=Oswald&family=Roboto+Slab&family=Staatliches&display=swap');
  
   html{
    overflow-x: hidden;
   }
  </style>
  <div class=" w-full py-2 lg:py-3 xl:py-4 mx-auto px-2 md:px-3 lg:px-4 flex ">
    <div class="w-16 md:w-full flex">
      <a href="/" id="logo" class="flex items-baseline">
        <!-- Logo -->
          <img  class="w-8 nav" src="../BDPALogo.png">
          <img class="h-14 w-auto hidden sm:hidden md:hidden lg:inline xl:inline nav" src="../qOverflowLogoSmall.png">
        </a>
      </div>
      <div class="flex w-full mr-4 group" id="search">
          <form class="flex w-full sm:w-4/5 xl:w-full 2xl:w-full" action="/search" method="POST">
            <input id="1" name="searchQuery" type="text" required
              class="transition delay-75 w-full duration-100 ease-in-out focus:bg-gray-50 focus:rounded-lg focus:border-none border-b-2 border-gray-100 border-spacing-1 focus:outline-none py-1 appearance-none px-3 placeholder-gray-500 text-gray-900 focus:z-10 text-sm lg:text-base font-semibold"
              placeholder="Search">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" type="submit"
                  class="transition delay-75 duration-200 ease-in-out mt-auto hover:scale-110 cursor-pointer w-auto xl:h-7 lg:h-5 stroke-gray-500 group-focus:ring-indigo-500 group-focus:border-indigo-500 group-focus:z-10 group-focus:ring-1"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </button>
          </form>
      </div>
      <div class="flex items-center">
        <div class="relative">
          <div class="flex">
            <% if(loggedIn) { %>
              <!-- Profile picture -->
                <div id="burger" class="flex sm:md:flex xl:lg:hidden top-3 place-content-end">
                  <div class="outline-none pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </div>
                </div>
                <div class="top-3 place-content-end space-x-4 xl:lg:flex md:sm:hidden hidden">
                  <div class="cursor-pointer border-b-2 border-spacing-1 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                    Logout
                  </div>
                  <div class="cursor-pointer border-b-2 border-spacing-1 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                    Home
                  </div>
                  <div class="cursor-pointer border-b-2 border-spacing-1 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                    Inbox
                  </div>
                  <div class="cursor-pointer flex">
                    <p class="border-b-2 border-spacing-1 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                      <%= user.username %> 
                    </p>
                    <img class="w-8 nav" src="<%= user.img %> " alt="">

                  </div>
                </div>

              
              <% } else { %>
                <% if (typeof login=="undefined" || !login) { %>
                  <!--Not logged in-->
                  <button onclick="location.href = '/auth/login'"
                    class="mr-2 border-b-2 border-spacing-1 border-transparent hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                    <% } else { %>
                      <button onclick="location.href = '/auth/login'"
                        class="mr-2 px-4 py-3 bg-indigo-50 hover:bg-blue-100 hover:text-gray-900  text-gray-700 text-lg font-semibold rounded-md  transition-all ease-in-out delay-75 duration-300">
                        <% } %>
                          Login
                      </button>
                      &nbsp;
                      <% if (typeof signup=="undefined" || !signup) { %>
                        <!--Not Signed In-->
                        <button onclick="location.href = '/auth/signup'"
                          class="border-b-2 border-transparent border-spacing-1 hover:border-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
                          <% } else { %>
                            <button onclick="location.href = '/auth/signup'"
                              class="px-4 py-3 bg-indigo-50 hover:bg-blue-100 hover:text-gray-900  text-gray-700 text-lg font-semibold mr-4 rounded-md  transition-all ease-in-out delay-75 duration-300">
                              <% } %>
                                Signup
                            </button>
                            <% } %>
                  </div>
          </div>
        </div>
      </div>

    </div>
    <div class="lg:hidden mr-4 md:text-right place-self-end place-content-end lg:place-content-center h-full md:space-x-2 lg:justify-start w-full grid"
      id="menu">
      <div class="top-3 place-content-end space-x-4 block">
        <div class="cursor-pointer hover:underline decoration-2 underline-offset-1 decoration-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
          Logout
        </div>
        <div class="cursor-pointer hover:underline decoration-2 underline-offset-1 decoration-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
          Home
        </div>
        <div class="cursor-pointer hover:underline decoration-2 underline-offset-1 decoration-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
          Inbox
        </div>
        <div class="cursor-pointer hover:underline decoration-2 underline-offset-1 decoration-gray-300 text-gray-700 text-lg font-semibold transition-all ease-in-out delay-75 duration-300">
          Dashboard
        </div>
      </div>
    </div>
  </div>

  </div>
  <% if(typeof user !="undefined" && loggedIn ) { %>
    <script>
      setInterval(function () {
        fetch('/getBasicData?user=<%= locals.user?.username %>')
          .then(response => response.json())
          .then(data => {
            if (data) {
              document.querySelector('#user-level').innerHTML = "Level: " + data.level;
              document.querySelector('#user-points').innerHTML = "Points: " + data.points;
            }
          });
      }, 1000);
      const burger = document.querySelector('#burger');
      const menu = document.querySelector('#menu');
      const search = document.querySelector('#search');
      const logo = document.querySelector('#logo');
      // const logout = document.querySelector('#logout');
      // const logout2 = document.querySelector('#logout2');

      burger.addEventListener('click', (e) => {
        console.log("beingClicked")
        if (menu.classList.contains('hidden')) {
          menu.classList.remove('hidden');
          logo.classList.add('h-full');
        } else {
          menu.classList.add('hidden');
          logo.classList.remove('h-full');
        }
      });
    </script>
    <% } %>
</nav>


</html>