<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Question</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <style>
        [contentEditable=true]:empty:not(:focus):before{
            content:attr(data-text)
        }
#preview h1 {
      font-size: 2em;
      font-weight: normal;
      margin: 0.67em 0;
    }

    #preview  h2 {
      font-size: 1.5em;
      font-weight: normal;
      margin: 0.83em 0;
    }

    #preview h3 {
      font-size: 1.17em;
      font-weight: normal;
      margin: 1em 0;
    }

    #preview  h4 {
      font-size: 1em;
      font-weight: normal;
      margin: 1.33em 0;
    }

    #preview h5 {
      font-size: 0.83em;
      font-weight: normal;
      margin: 1.67em 0;
    }

    #preview h6 {
      font-size: 0.67em;
      font-weight: normal;
      margin: 2.33em 0;
    }

    #preview table {
      border-collapse: collapse;
      border-spacing: 0;
      align-items: center;
      align-self: center;
      align-content: center;
      outline: solid;
      width: 100%;
    }

    #preview a {
      color: #0366d6;
    }

    #preview a:hover {
      text-decoration: underline;
    }

    #preview  blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }

    #preview ul {
      margin: 1.33em 0;
      padding: 0.5em 1em;


      list-style: disc;

      list-style-position: inside;
    }

    #preview ol {
      margin: 1.33em 0;
      padding: 0.5em 1em;
      list-style: decimal;
      list-style-position: inside;
    }

    #preview li {
      margin-bottom: 0.33em;
    }

    #preview code {
      font-family:Roboto;
      font-size: 0.83em;
    }

    #preview img:not(.nav) {
      max-width: 50%;
    }
        
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 12px;
  border-top: none;
}
    </style>
</head>

<body class="bg-blue-500">
    <%- include('../views/navbar.ejs', {loggedIn: true, user}); %>

    <div class="m-5 bg-blue-200 shadow-md rounded-lg hover:shadow-xl text-4xl">
        <div class="m-4">
            <h1 class="p-3 text-center text-3xl font-extrabold md:text-5xl">Create a question</h1>
                 
        <div class="w-full">
            <form class="w-full" action="/questions" method="POST">
                <div class="flex">
                    <div class="flex-1 w-full">
                        <input type="hidden" name="username" value="<% username %> ">
                        <div class="grid sm:flex place-content-center mb-8 mt-5 w-full">
                            <label class="text-2xl mr-3 text-center md:text-left font-extrabold block">Title:</label>
                            <input maxlength="150" type="text" id="text150" name="title"
                                class="text-xl outline-black rounded outline outline-4 text-center flex place-self-center font-bold block h-10 w-full md:w-3/4" required/>
                        </div>
                        <div class="flex w-full justify-items-center">
                            <button data-bs-toggle="modal" type="button" data-bs-target="#markdownSyntax"  class="mx-auto text-lg font-bold px-3 py-2 bg-gray-100 rounded-xl text-gray-700 hover:bg-gray-200 transition-all delay-75 duration-300 ease-in-out">
                                Markdown Syntax
                            </button>
                        </div>
                        <br/>
                        <div class="flex justify-center">
                        <a id="contentButton" onclick="openCity(event, 'editor')" class="inline-block bg-green-500 mx-3 px-3 py-2 text-lg rounded-2xl leading-5 font-medium text-black hover:text-gray-900 focus:outline-none focus:text-white-900 focus:bg-gray-50 cursor-pointer focus:border-gray-300 focus:border-blue-300">
                            Editor
                           </a>
                           <a id="editorButton" onclick="openCity(event, 'viewer3')" class="inline-block px-3 py-2 text-lg rounded-2xl leading-5 font-medium text-black hover:text-gray-900 focus:outline-none focus:text-white-900 focus:bg-gray-50 cursor-pointer focus:border-gray-300 focus:border-blue-300">
                             Preview
                            </a>
                        </div>
                 
                            <!-- <button class="tablinks" type="button" onclick="openCity(event, 'editor')">Content</button>
                            <button class="tablinks" type="button" onclick="openCity(event, 'viewer3')">View</button> -->
                        <div class='flex mb-5 tabcontent' id="editor" style="display:block;">
                            <!-- <label class='m-2 text-2xl font-bold'>Content</label> -->
                            
                            <textarea id='text3000' maxlength='3000' type='text' name="text" onkeyup='val(this);'
                                class='m-2 p-3  text-2xl mx-auto rounded   text-left font-bold block h-48  md:h-80 w-full md:w-3/4' placeholder="Enter Markdown content..." required></textarea>
                        </div>
                        <div>
                            
                        </div>
                        <div id="viewer3" class="tabcontent">
                            
                            <div id='viewer'>
                                <!-- <label class='m-2 text-2xl font-bold'>Preview</label> -->
                                <article id="preview" data-text="Output of Markdown shown here..." contenteditable="false" 
                                    class=' mx-auto break-words overflow-scroll m-2 p-3  bg-white  rounded  text-left block text-gray-400 h-48 w-full md:w-3/4 md:h-80'>
                                </article>
                            </div>
                        </div>
                        
                        <div class="flex my-3 justify-center">
                            <input type="submit" class="cursor-pointer rounded-lg bg-green-700 text-white hover:ring-2 hover:ring-offset-1 hover:ring-gray-200 px-2 py-2 font-semibold text-2xl" value="Submit Question">
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="markdownSyntax" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
      <div
        class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
        <div
          class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative py-4 px-8 space-y-4">
          <p class="text-3xl text-gray-700 font-semibold">
            Markdown Syntax (Remember to Include Spaces!):
          </p>
          <p class="text-gray-700 mt-8 text-start text-lg leading-6">
          # <span class="text-5xl">h1</span> <br>
          ## <span class="text-4xl">h2</span> <br>
          ### <span class="text-3xl">h3</span> <br>
          ####<span class="text-2xl">h4</span> <br>
          ##### <span class="text-xl">h5</span> <br>
          ###### <span class="text-lg">h6</span> <br> <br>
          **<span class="font-bold">bold</span>** text <br>
          *<span class="italic" >italic</span>* text <br>
          ***<span class="font-bold italic">emboldened italic</span>*** text <br>
          > Blockquote -> <br>  <br>
          <span class="border-l-4 pl-8 bg-gray-100 border-gray-500">Blockquote</span> <br> <br>
          `nano` -> <span class="px-2 bg-gray-100 rounded-md my-auto">nano</span> <br>
          <span class="text-xl mt-2">[Link Text](Link Address) <br> ![Title of Image](Image Link)</span>
          <br>
          <span class="text-lg mt-4">And more at this <a class="text-blue-500 no-underline hover:underline underline-offset-0 underline-blue-300 transition-all delay-75 duration-300 ease-in-out" href="https://www.markdownguide.org/basic-syntax">Markdown Guide</a></span>
          <p>

          </p>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button"
            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
            data-bs-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#text150").keypress(function (e) {
                var length = this.value.length;
                if (length >= 150) {
                    e.preventDefault();
                    alert("More than 150 characters not allowed in the Title");
                }
            });

        });
        $(document).ready(function () {
            $("#text3000").keypress(function (e) {
                var length = this.value.length;
                if (length >= 3000) {
                    e.preventDefault();
                    alert("More than 3000 characters not allowed in the Body");
                }
            });

        });
        $(document).ready(function () {
            $("#text200").keypress(function (e) {
                var length = this.value.length;
                if (length >= 200) {
                    e.preventDefault();
                    alert("More than 200 characters not allowed in the Sub Title");
                }
            });

        });
    </script>
    
    <script>

        document.getElementById("contentButton").addEventListener("click", function () {
            document.getElementById("contentButton").classList.add("bg-green-500");
            document.getElementById("editorButton").classList.remove("bg-green-500");
        });
        document.getElementById("editorButton").addEventListener("click", function () {
           // classlist add
            document.getElementById("editorButton").classList.add("bg-green-500");
            document.getElementById("contentButton").classList.remove("bg-green-500");
           
        });

        function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        function val(e) {
            ghf = e.value.replace(/[\u00A0-\u9999<>\&]/g, function(i) {
   return '&#'+i.charCodeAt(0)+';';
});
            console.log(marked.parse(ghf))
            codeblock = marked.parse(ghf);
            document.getElementById("viewer").innerHTML = "<article id='preview' data-text='Output of Markdown shown here...' contenteditable='false' class=' mx-auto break-words overflow-scroll m-2 p-3  bg-white  rounded  text-left block h-48 w-full md:w-3/4 md:h-80'>"+codeblock+"</article>";
        }
        // function qwerty(e) {
        //     ghf = e.value;
        //     console.log(ghf);
        //     codeblock = ghf;
        //     document.getElementById("viewer").innerHTML = "<label class='text-xl font-bold'>View:</label><div id='preview' contentEditable=true data-text='Output of Markdown shown here...'class='m-2 p-3 text-2xl outline-black rounded outline outline-4 text-left font-bold block text-black h-48 min-w-full md:h-80 md:min-w-full'>"+codeblock+"</div>";
        // }
        $("#viewer").load(location.href + " #viewer");
        $("#editer").load(location.href + " #editor");
        // var textArea = document.getElementById('preview');

        // textArea.addEventListener('input', function (event) {
        //     console.log(event.target.value);
        // });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>

</html>