<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Question</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200">
    <div class="m-5 bg-white shadow-md rounded-lg hover:shadow-xl text-4xl">
        <div class="m-4">
            <h1 class="p-3 text-center text-3xl font-extrabold md:text-5xl">Create a question</h1>
        </div>
        <div class="m-5">
            <form>
                <div class="flex">
                    <div class="flex-1 items-center pb-6">
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center mb-15">
                            <label class="text-2xl font-bold block">Title:</label>
                            <input
                                class="rounded outline outline-4 text-center font-bold block h-9 w-full md:h-96 md:w-96">
                        </div>
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center">
                            <label class="text-2xl font-bold">Sub-Title:</label>
                            <input
                                class="rounded outline outline-4 text-center font-bold block h-9 w-full md:h-10 md:w-96">
                        </div>
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center">
                            <label class="text-2xl font-bold">Content:</label>
                            <input
                                class="rounded outline outline-4 text-center font-bold block h-9 w-full md:h-10 md:w-96">
                        </div>
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center">
                            <label class="text-2xl font-bold">Send To:</label>
                            <input
                                class="rounded outline outline-4 text-center font-bold block h-9 w-full md:h-96 md:w-1">
                        </div>
                    </div>
            </form>
        </div class="">
    </div>
</body>

</html>