<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Question</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <div class="m-5 bg-white shadow-md rounded-lg hover:shadow-xl text-4xl">
        <div class="m-4">
            <h1 class="p-3 text-center text-3xl font-extrabold md:text-5xl">Create a question</h1>
        </div>
        <div class="m-5">
            <form>
                <div class="flex">
                    <div class="flex-1 items-center pb-6">
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center mb-15 items-center">
                            <label class="text-2xl font-extrabold block">Title:</label>
                            <input maxlength="150" type="text" id="text150"
                                class="text-xl outline-black rounded outline outline-4 text-center font-bold block h-10 w-full md:h-12 md:w-96" />
                        </div>
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center items-center">
                            <label class="text-2xl font-extrabold">Sub-Title:</label>
                            <input maxlength="200" type="text" id="text200"
                                class="text-2xl outline-black rounded outline outline-4 text-center font-bold block h-10 w-full md:h-12 md:w-96">
                        </div>
                        <div class='flex-none md:flex md:grid md:grid-cols-2 md:divide-x-0 items-center'>
                            <div class='flex flex-wrap mb-10 space-x-4 left-0 m-3'>
                                <label class='text-2xl font-bold'>Content:</label>
                                <textarea id='text3000' maxlength='3000' type='text' onkeyup='val(this);'
                                    class='m-2 p-3 text-2xl outline-black rounded outline outline-4 text-left font-bold block h-48 w-full md:h-80 md:w-full'></textarea>
                            </div>
                            <div class='flex flex-wrap mb-10 space-x-4 right-0 m-3' id='viewer'>
                                <label class='text-2xl font-bold'>View:</label>
                                <textarea readonly
                                    class='m-2 p-3 text-2xl outline-black rounded outline outline-4 text-center font-bold block h-48 w-full md:h-80 md:w-full'></textarea>
                            </div>
                        </div>
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center">
                            <label class="text-2xl font-bold">Send To:</label>
                            <textarea
                                class="p-3 text-2xl  outline-black rounded outline outline-4 text-left font-bold block h-16 w-full md:h-20 md:w-96"></textarea><br>
                        </div>
                        <div class="flex flex-wrap mb-10 space-x-4 place-content-center">
                            <input type="checkbox" id="pub" class="h-5 w-5 rounded ">
                            <label for="pub"><u><b>Public</b></u></label>
                        </div>
                    </div>
            </form>
        </div class="">
    </div>
    <script>
        $(document).ready(function () {
            $("#text150").keypress(function (e) {
                var length = this.value.length;
                if (length >= 150) {
                    e.preventDefault();
                    alert("More than 150 characters not allowed in the Title");
                }
            });

        });
        $(document).ready(function () {
            $("#text3000").keypress(function (e) {
                var length = this.value.length;
                if (length >= 3000) {
                    e.preventDefault();
                    alert("More than 3000 characters not allowed in the Body");
                }
            });

        });
        $(document).ready(function () {
            $("#text200").keypress(function (e) {
                var length = this.value.length;
                if (length >= 200) {
                    e.preventDefault();
                    alert("More than 200 characters not allowed in the Sub Title");
                }
            });

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <script>
        function val(e) {
            ghf = e.value;
            console.log(marked.parse(ghf))
            codeblock = marked.parse(ghf);
            s = "<label class='text-2xl font-bold'>View:</label><textarea readonly class='m-2 p-3 text-2xl outline-black rounded outline outline-4 text-center font-bold block h-48 w-full md:h-80 md:w-full'>"
            document.getElementById("viewer").innerHTML = codeblock;
        }
        $("#viewer").load(location.href + " #viewer");
    </script>
</body>

</html>